

/* -------------------- Hero section -------------------- */
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: auto;


}

.hero h1{
 color: #8ad16b;
 margin-left:1em;
 padding-right: 1em;
 font-weight: bold;
}

.hero p{
    color: white;
    margin-right: 5em;
    padding-left: 1em
    
}


/* -------------------- Green Background Section -------------------- */
.green-section{
    /* background-color: #8ad16b; */
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

/* -------------------- White Background Section -------------------- */
.content-about{
    background-color: white;
    border-radius: 20px;
    padding: 2em;
    margin-left:2em ;
    margin-right:2em;
    /* width: 1500px; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.developers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-top: 2em;
}

.developers-card{
    background: white;
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5em;
    
}

.developer-card img{
    width: 150px;
    height: 150px;
    border-radius: 16px;
    object-fit: cover;
    margin-bottom: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.developer-card h3{
    font-size: 1.2em;
    margin: 0.5em 0 0.5em 0;
    color: black;
}

.developer-card p{
    font-size: 1em;
    color: black;
}

.developers-frame{
    background: white;
    padding: 1.5em;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
   /* width: 1500px;*/
   padding: 2em;
    margin-right: 3em;
    margin-left: 3em ;
}

.footer{
    background-color: #578941;
    display:block;
}