@font-face{
    src: url(fonts/Roboto-Light.ttf);
    font-family: Roboto-Light;
}
@font-face{
    src: url(fonts/OpenSans-Bold.ttf);
    font-family: OpenSans;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #737373;
    display: flow-root;
}


.main-header *{
    text-decoration: none;
    list-style-type: none;

}

.main-header{

}
.navbar{
    padding: 20px;
    background-color: #7ed957;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navsec li{
    display: inline-block;
}

.nava{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    font-family: Roboto-Light;
    display: block;
}

.main-header .nava:hover{
    background-color: hsl(102, 63%, 70%);
}

#home{
    color: #004aad;
    font-size: 35px;
    font-weight: 600px;
    font-family: OpenSans;
}

.buttonsign{
    background-color: black;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 90px;
}

.buttonsign a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: calibri;
}

h1{
    color: #50823a;
    font-family: OpenSans;
    margin: 0;
    font-size: 3em;
}

.container{
    background: url(images/pexels-nammau-14348174.jpg);
    height: 300px;

}

.container2{
    background: url(images/pexels-nammau-14348174.jpg);
    height: 200px;

}

.starter{
    margin-left: 15%;
    margin-top: 66.6px;
    display: inline-block;
    text-align: center;
}

.starter h4{
    margin-top: -5%;
    margin-bottom: 2px;
    font-size: 1.43em;
    font-family: OpenSans;
}

.starter button{
    background-color: #545F71;
    color: hsl(0, 0%, 100%);
    font-size: 1.1em;
    font-family: calibri;
    width: 235px;
    height: 35px;
    border-radius: 5px;
    margin: 0%;
}

/* home */
.container3 p{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 2em;
}
#description{
    background-color: white;
    display: block;
    height: 15rem;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 1em;
}

.display img{
    width: 18rem;
}

.display{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;
    width: 50%;
    float: left;
}   

.container4{
    display: flex;
    justify-content: space-between;
}

.content img{
    width: 20rem;
    margin-top: 2em;
    
}

.container4 p{
    text-align: center;
    padding: 2.5em;
}

.content{
    background-color: white;
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 1em;
}

.content button{
    padding: 1em;
    width: 18rem;
    border-radius: 1em;
    margin-bottom: 3em;
    background-color: white;
}

#about{
    width: 30%;
    float: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculateProductivity{
    width: 30%;
    float: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#history{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    float: left;
    padding: 10px;
}

.footer hr{
    border: none;
    background-color: #7ed957;
    height: 2px;
}

.footer{
    color: white;
}

.footer p{
    margin: 2em;
}

.content:hover{
    background-color: hsl(0, 0%, 90%);
    animation-name: grow;
    animation-duration: 2s;
}

.content button:hover{
    box-shadow: 0px 0px 5px black;
}



@keyframes grow{
    50%{transform: scale(1.1, 1.1);}
}

@media screen and (max-width:600px){
    aside, section, article,{
        width: 100%;
    }
}