html, body {
  height: 100%;       /* let body stretch full height */
  margin: 0;          /* remove default body margin */
  display: flex;      
  flex-direction: column;  /* stack children vertically */
}

main {
  flex: 1;  
  display: flex;
  flex-direction: column;
}

#about-page{
    color: #a2d18f;
}

/* ----------------------------- hero section ----------------------------- */

.hero-about{
    margin-bottom: 2rem;
}

.hero-about__image{
    background: linear-gradient(rgba(115,115,115,0.5), rgba(115,115,115,0.5)), 
                url(../images/pexels-steve-14053647.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 100%;
}

.hero-about__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hero-about__title{
  color: #fcfdfc;
  padding: 10rem;
  font-weight: bold;
  font-size: 5rem;
}

.hero-about__paragraph{
    color: white;
    margin-right: 8rem;
    padding-left: 8rem;
    font-size:2rem;
}

@media (max-width: 37.5rem){
    .hero-about__paragraph{
        font-size: 2.5rem;
    }
}

     

/* -------------------- Green Background Section -------------------- */
.green-section{
    /* background-color: #8ad16b; */
    /* display: flex; */
    /* justify-content: center; */
    margin: 2rem 3rem;
}

/* -------------------- White Background Section -------------------- */
.content-about{
    background-color: white;
    border-radius: 1em;
    padding: 5rem;
    /* width: 1500px; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.content-about h2{
    font-size: 2rem;
    margin: 1.5rem 0;
}

.content-about p{
    padding: 1rem 0;
    flex: 1;
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
}

.developers{
    background: white;
    padding: 5rem;
    margin: 2rem 3rem;
    border-radius: 1rem;
}

.websys-developers h2{
    color: black;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
}

.developers-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-top: 2em;
}

.developer-card{
    background: rgb(255, 255, 255);
    border: 4px solid #578941;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5em;

}

.developer-card img{
    width: 15rem;
    height: 15rem;
    border-radius: 16px;
    object-fit: cover;
    margin-bottom: 1em;
}

.developer-card h3{
    font-size: 2rem;
    margin: 0.5em 0 0.5em 0;
    color: black;
}

.developer-card p{
    padding: 1rem 0;
    flex: 1;
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
}

.developers-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2em;
    margin-right: 3em;
    margin-left: 3em ; */
}

.footer{
    background-color: #578941;
    display:block;
}

@media (max-width: 37.5rem){
    .developers-section{
        display: flex;
        flex-direction: column;
    }

    .content-about p{
        font-size: 3rem;
    }

    .developer-card p{
        font-size: 3rem;
    }

    .developer-card h3{
        font-size: 3.4rem;
    }

    .websys-developers h2, .content-about h2{
        font-size: 4.2rem;
    }

    .hero p{
        font-size: 2.5rem;
    }
}
