.container_productivity_calculator{
    background: linear-gradient(rgba(115,115,115,0.5), rgba(115,115,115,0.5)), 
                url(../images/pexels-steve-14053647.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    opacity: 100%;
}



/* ----------------------------- First section ----------------------------- */

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hero h1{
  color: #fcfdfc;
  padding: 10rem;
  font-weight: bold;
  font-size: 4.5rem;
}

.hero p{
    color: white;
    margin-right: 8rem;
    padding-left: 8rem;
    font-size:2rem;
}





/* ------------------------------- Form section ----------------------------- */


   .form {
    background-color: white;
    border-radius: 2em;
    padding: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /*max-width: 2500px;*/ 
    display: flex;

    align-items: center;
    flex-direction: column;
 
}
.form-row{
    display: flex;
    justify-content: center;
    align-items: baseline;
     margin-bottom: 1.5rem;
     padding-top: 0.2rem;
    
}

.form-row input[type="checkbox"],
.form-row input[type="radio"] {
    /* remove all the appearance hacks */
    width: auto;
    height: auto;
    margin: 0 0.5rem;
    cursor: pointer;
}

.form-row input[type="checkbox"],
.form-row input[type="radio"] {
  transform: scale(2.5);  /* make them 80% bigger */
  margin: 0 2rem;
  cursor: pointer;
}


.form-row label {
    font-size: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
    min-width: 15rem;
    text-align: right;
    line-height: 2.5em;   /* match input height */
}
.form-row input {
    font-size: 2rem;
    height: 5rem;
    width: 50rem;               /* All inputs same size */
    padding: 0 0.5rem;
    border-radius: 60px;
    border: 3px solid #578941;
    box-sizing: border-box;
}

.add-button {
  font-size: 1.5rem;       /* make the text bigger */
  padding: 1.8rem 3rem;     /* taller + wider button */
  border-radius: 5px;    /* rounded corners */
  

  display: flex;
  justify-content: center; 

}

.button-row {
  display: flex;
  justify-content: center;  /* centers child horizontally */
  align-items: center;
  margin-top: 1rem;
  
}    
.form-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1.5rem;
  padding-top: 0.2rem;
}

.options{
  margin-top: 3rem;
}


/* ----------------------------- Table section ----------------------------- */

 


.table{
    background-color: white;
    border-radius: 2em;
    padding: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display:flex;
    
    border-collapse: collapse;

  
    /*max-width: 2500px;*/
    justify-content: center;

}

.table table{
    width: 100%;
    font-size: 1.2rem;
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid #a2d18f;
}

.table table th:nth-child(2),
.table table td:nth-child(2),
.table table th:nth-child(3),
.table table td:nth-child(3) {
   width: 3rem; /*Minutes column */
}
.table table th:nth-child(4),
.table table td:nth-child(4) {
    width: 3rem;
}

td, th {
  padding: 2rem 3rem;  /* top-bottom, left-right spacing */
  font-size: 2rem;   
}

.remove-record{
    font-size: 1.5rem;       /* make the text bigger */
   padding: 1rem 1rem;
  border-radius: 12px;    /* rounded corners */
  

  display: flex;
  justify-content: center; 
}



/* ----------------------------- Summary section ----------------------------- */


.summary{
  background-color: white;
    border-radius: 1em;
    padding: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
     /* max-width: 2500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.summary h3{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-style:bold;
}

.summary .stats {
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  
}
.summary .stats p{
  border:3px solid #578941 ;
  
  padding: 1.5rem 3rem;        /* inside spacing */
  border-radius: 60px;  
  margin: 0;
}

.summary-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20rem;  /* spacing between donut and list */
}

.donut {
      width: 25rem; 
      height: 25rem;
      border-radius: 50%;
      background: conic-gradient(
        #578941 70% 40%,   /* Blue slice = 40% */
    
        #2ecc71 70% 100%  /* Green slice = 30% */
      );
      position: relative;
      margin: 4rem auto;
    }
    .donut::after {
      content: "";
      position: absolute;
      top: 25%;
      left: 25%;
      /* width: 50%; */
      height: 50%;
      border-radius: 50%;
      background: #fff; /* Center hole */
    }
 .sites {
  font-size: 2rem;
}

.sites p {
  font-weight: bold;
  margin-bottom: 3rem;
}

/* ----------------------------- Responsiveness ----------------------------- */
