html, body {
  height: 100%;       /* let body stretch full height */
  margin: 0;          /* remove default body margin */
  display: flex;      
  flex-direction: column;  /* stack children vertically */
}

main {
  flex: 1;  
  display: flex;
  flex-direction: column;
}


.hero-background {
    background: linear-gradient(rgba(115, 115, 115, 0.5), rgba(115, 115, 115, 0.5)), 
                url(../images/pexels-steve-14053647.jpg);
    height: 55rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    text-align: center;
    
}

/* ----------------------------- First section starter ----------------------------- */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 4rem 3rem;
    width: 100%;
    z-index: 10; 
}

.hero-home-page {
    text-align: center;
}

.hero-home-page h1 {
    font-size: 5rem;
    color: #ffffff;
    margin-bottom: 15px;
}

.hero-home-page h4 {
    margin-top: 0;
    margin-bottom: 1.8rem;
    font-size: 2rem;
    color: #ffffff;
}

.hero-home-page .button-starter {
    font-size: 1.5rem;
    width: 23.5rem;
    height: 4.5rem;
    border-radius: 5px;
    margin-top: 1rem;
}

/* ----------------------------- Second section descriptions ----------------------------- */

.container-descriptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 3rem;
    border-radius: 1em;
    text-align: center;
}

.descriptions-img{
    padding: 0 20px;
}

.descriptions-img img{
    max-width: 100%;
    border-radius: 12px;
    height: auto;
}


.descriptions-img img {
    width: 100rem;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.descriptions-content p{
    flex: 1;
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
    padding: 2rem;
}

@media (max-width: 37.5rem){
    .descriptions-content p{
        font-size: 3rem;
    }

    .descriptions-content{
        width: 55%;
        height: 100%;
        overflow: auto;
    }

    .descriptions-img {
        width: 45%;
        height: 100%;
        align-content: center;
    }

    .container-descriptions{
        height: 150px;
    }

}

/* ----------------------------- third section descriptions ----------------------------- */

.container-content-selection{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    margin: auto; */
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0 3rem 2rem 3rem;
    background-color: #ffffff;
    flex: 1;
    padding: 2em 3em;
    border-radius: 1em;
}


.content-img img{
    width: 100%;
    height: auto;
}

.content-description p{
    flex: 1;
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
    padding: 2rem;
    text-align: center;
}

.content-link a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.content-button .content-link-button{
    width: 50%;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 5px;
}

@media (max-width: 37.5rem){
    .container-content-selection{
        flex-direction: column;
    }

    .content{
        padding: 10rem;
    }

    .content-description p{
    flex: 1;
    font-size: 3rem;
    line-height: 1.6;
    color: black;
    padding: 2rem;
}
    .content-button .content-link-button{
    width: 50%;
    padding: 1rem;
    font-size: 2rem;
}

}

/* ----------------------------- Footer section descriptions ----------------------------- */

.footer hr{
    border: none;
    background-color: #7ed957;
    height: 2px;
}

.footer{
    color: white;
}

.footer p{
    margin: 2em;
}


/*.content:hover{
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 0 2px black;
    animation-name: grow;
    animation-duration: 2s;
}

@keyframes grow{
    50%{transform: scale(1.1, 1.1);}
}  */