html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ----------------------------- hero section starter ----------------------------- */

.hero-home{
    margin-bottom: 2rem;
}

.hero-home__image {
    background: linear-gradient(rgba(115, 115, 115, 0.5), rgba(115, 115, 115, 0.5)), 
                url(../images/pexels-steve-14053647.jpg);
    height: 55rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10; 
}

.hero-home__col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-home__title {
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.hero-home__subtitle {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #ffffff;
}

.hero-home__button {
    font-size: 1.5rem;
    width: 23.5rem;
    height: 4.5rem;
    border-radius: 5px;
    margin-top: 1rem;
}

/* ----------------------------- intro section ----------------------------- */

.intro__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 3rem;
    border-radius: 1em;
    text-align: center;
}

.intro__title{
    text-align: start;
    display: inline-block;
}

.intro__image{
    padding: 0 20px;
}

.intro__image{
    max-width: 100%;
    border-radius: 12px;
    height: auto;
}


.intro__image{
    width: 35rem;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.intro__desc{
    flex: 1;
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
    padding: 2rem;
}

@media (max-width: 37.5rem){
    .intro__desc{
        font-size: 3rem;
        width: 55%;
        overflow: auto;
        height: 100%;
    }

    .intro__content{    
        height: 100%;
        height: 150px;
    }

    .intro__image {
        width: 45%;
        height: 100%;
        align-content: center;
        display: flex;
    }

}

/* ----------------------------- services section ----------------------------- */

.services{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    margin: auto; */
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 3rem;
    background-color: #ffffff;
    flex: 1;
    padding: 2em 3em;
    border-radius: 1em;
}


.card__image{
    width: 100%;
    height: auto;
}

.card__desc{
    flex: 1;
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
    padding: 2rem;
    text-align: center;
}

.card__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.card__link {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

.card__text{
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 37.5rem){
    .services{
        flex-direction: column;
    }

    .card{
        padding: 10rem;
    }

    .card__desc{
    flex: 1;
    font-size: 3rem;
    line-height: 1.6;
    color: black;
    padding: 2rem;
}

    .card__text{
        font-size: 2.5rem;
    }

}

/* ----------------------------- Footer section descriptions ----------------------------- */

.footer hr{
    border: none;
    background-color: #7ed957;
    height: 2px;
}

.footer{
    color: white;
}

.footer p{
    margin: 2em;
}


/*.content:hover{
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 0 2px black;
    animation-name: grow;
    animation-duration: 2s;
}

@keyframes grow{
    50%{transform: scale(1.1, 1.1);}
}  */