@font-face{
    src: url(../fonts/Roboto-Light.ttf);
    font-family: Roboto-Light;
}
@font-face{
    src: url(../fonts/OpenSans-Bold.ttf);
    font-family: OpenSans;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color:#a2d18f;
    display: flow-root;
}

.main-header{
    background-color: #578941;
    padding: 1rem 2rem;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    align-items: center;
}

.home-link{
    font-size: 4rem;
}

.home-link a{
    color: #e9e9e9;
    text-decoration: none;
}

.home-link::before {
  content: '';
  display: inline-block;
  width: 6rem;
  height: 7rem;
  background-image: url('../images/e8f1485c-acd4-4c8c-9753-71d4eefc0741.sketchpad.png');
  background-size: contain; 
  background-repeat: no-repeat;
  margin-left: 0.8rem;
  margin-top: 1.3rem;
  vertical-align: middle;
}

.nav-section{
    display: flex; 
    align-items: center;
}

.nav-section a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

.nav-section li{
    list-style: none;
    display: inline-block;
}

.nav-hover-color{
    margin-left: 1.5em;
    margin-right: .5em;
}

.button-header{
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    width: 8rem;
}

.button-header-color{
    background-color: #578941;
    border: 1px solid white;
    color: white;
}

.button-header-color:hover , .button-header-color:active{
    background-color: white;
    color: #578941;
    background-position: 0 0;
}

.button-header-color:active{
    opacity: 0.5;
}

.nav-hover-color:hover{
    color: #a2d18f;
}

.nav-hover-color:active{
    opacity: 0.5;
}

.footer{
    background-color: #578941;
    display:block;
    color: white;
}

.footer p{
    margin: 2rem;
    font-size: 1.4rem;
}

/* ----------------------------- Button Styles ----------------------------- */

.button-styles{
  border: none;
  background-color:#578941;
  color: white;
  cursor: pointer;
  border: 1px solid #578941;
}

.button-styles:hover , .button-styles:active{
    background-color: white;
    color: #578941;
    background-position: 0 0;
}

.button-styles:active{
    opacity: 0.5;
}

@media(min-width: 100rem){
    html{
        font-size: 100%;
    }
}

@media(min-width: 81.25rem){
    html{
        font-size: 75%;
    }
}

@media (max-width: 68.75rem){
    html{
        font-size: 50%;
    }

    .button_header{
        width: auto;
    }
}

@media (max-width: 50rem){
    html{
        font-size: 37.5%;
    }

    
}

@media (max-width: 37.5rem){
    html{
        font-size: 25%;
    }
}
